/* Styles for the page header */

header	{
	background-color: #FFFFFF;
	   border-bottom: 1px solid #CCCCCC;
		  height: 70px;
		   width: 100%;
		position: fixed;
		     top: 0px;
	}

.logo {
	background-image: url("../images/logo.png");
	 background-size: auto;
       background-repeat: no-repeat;
     background-position: 20px center;

     }
